.loginForm{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 260px;
    height: 75px;
}

.loginTitle {
    position: absolute;
    width: 150px;
    height: 56px;
    left: 260px;
    top: -200px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 55px;


    color: #454545;
}

.subTitle {
    position: absolute;
    width: 513px;
    height: 34px;
    left: 70px;
    top: -100px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;

    color: #676767;
}

.loginForm {
    position: absolute;
    left: 40px;
    top: 300px;
    font-family: Poppins;
    width: 40%;
}

form-group.label {
    font-family: Poppins;
}

.input {
    left: 150px;
    width: 60%;
}
.login2 {
    position: absolute;
    width: 110px;
    height: 46px;
    left: 1685px;
    top: 26px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 10px;

    color: #FFFFFF;
    /* loginbutton */


    position: absolute;
    width: 400px;
    height: 56px;
    left: 90px;
    top: 400px;
    border: none;

    background: linear-gradient(268.92deg, #52DC89 0%, #1A964C 100%);
    box-shadow: 0px 11px 20px rgba(52, 177, 102, 0.57);
    border-radius: 8px;
}

.loginB{
    position: absolute;
    left: 270px;
}