.navBar {
    position: absolute;
    width: 1920px;
    height: 92px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.button {
    position: absolute;
    width: 110px;
    height: 46px;
    left: 1685px;
    top: 26px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    background: linear-gradient(268.92deg, #52DC89 0%, #1A964C 100%);
    box-shadow: 0px 11px 20px rgba(52, 177, 102, 0.57);
    border-radius: 8px;

    color: #FFFFFF;
}